<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LegalEase</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Neue+Machina:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>LegalEase</h1>
        <h2>A legal pitstop for MSMEs and Start-ups</h2>
    </header>

    <section class="button-section">
        <div class="button-container">
            <button class="generation-btn">Generation</button>
            <div class="box">
                <p class="paragraph">Updating or creating new documents like NDA, evaluation agreement and master agreement</p>
            </div>
        </div>
        <div class="button-container">
            <button class="understanding-btn">Understanding</button>
            <div class="box">
                <p class="paragraph">Query any Legal document and get relevant answers.</p>
            </div>
        </div>
    </section>
</body>
</html>
